
.site-container h2{
  font-size: 2.5rem;
  font-family: "Open Sans";
  font-weight: 700;
  color: #399bd1;
}
.site-container h3{
  font-size: 1.7rem;
  font-family: "Open Sans";
  font-weight: 700;
}
h3.highlighted{
  color: #399bd1;
}
.active{
  color: blue;
}

.navbar .navbar-brand{
 margin-right: 30px;
}
.navbar-nav a {
  color: #777;
}
.jumbotron{
  padding-bottom: 0px;
}
.jumbotron .container-fluid {
  background-image: url("../images/jumbotron-bike.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbotron .container-fluid h1{
  font-family: "Monoton",serif;
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 100px;
}
.jumbotron .container-fluid p{
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.jumbotron .btn {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 20px;
  padding: 15px 45px;
  margin: 80px;
  background-color: #399bd1;
}
/* Site Containers */
.site-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1024px;
  margin: 0px auto 0px auto;
}
#featured {
  justify-content: flex-start;
}
#projects {
  justify-content: space-between;
}
#heading {
  justify-content: flex-start;
}
/* Other Containers */
.image-container {
  width: 50%;
  margin-top: 20px;
}
.feature-img-container {
  width: 50%;
}
.project-img-container {
  width: 100%;
}
.text-container {
  width: 25%;
  margin-left: 30px;
}
.project-container{
  width: 30%;
  margin: 0px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Element Styles */
.image-container img{
  width: 100%;
  opacity: 0.7;
}

@media only screen and (max-width: 1024px){
  .site-container {
    width: 920px;
  }
}
@media only screen and (max-width: 920px){
  .site-container {
    width: 780px;
  }
}
@media only screen and (max-width: 780px){
  .site-container {
    width: 768px;
  }
}
@media only screen and (max-width: 768px){
  .navbar .navbar-brand{
    display: none;
  }
  .jumbotron .container-fluid {
    background-image: url("../images/jumbotron-bike.jpg");
    background-size: cover;
    margin-top: 100px;
  }
  .site-container {
    flex-wrap: wrap;
  }
  .site-container  h2{
    margin-left: 30px;
  }
  .image-container {
    width: 100%;
    margin: 0px 30px;
  }
  .text-container {
    width: 45%;
    margin: 0px 0px 0px 30px;
  }
}
